html,
body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

form {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

form input {
  font-size: 1.2rem;
  margin-right: 1rem;
}

form button {
  background-color: cornflowerblue;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

svg {
  background-color: #eee;
}

#toast {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 1rem;
  transition: all 1s;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
}

.symbols {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


/*.symbols > div {
  border: 5px solid transparent;
  border-radius: 5px;
  color: white;
  flex: 1;
  width: 33%;
}*/
.ticker {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: white;
  /*flex: 1;*/
  flex: 0 1 33%;
  /*width: 33%;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
}

.ticker-title {
  display: flex;
  flex-wrap: wrap;
  min-width: 4rem;
  padding: 5px;
  justify-content: space-between;
  /*align-items: center;*/
  /*width: 100%*/
}
.ticker-symb,
.ticker-price,
.ticker-delete {
  align-items: center;
  color: #eee;
  display: flex;
  flex: 0 1 33%;
  font-size: 1.5rem;
  /*flex-shrink: 0;*/
  font-weight: bold;
  justify-content: center;
  /*padding: 1rem;*/
}
.ticker-delete {
  display: flex;
  /*align-self: flex-end;*/
  align-items: center;
  flex: 0 1 10%;
  justify-content: center;
  color: white;
  cursor: default;
  background-color: tomato;
  border-radius: 5px;
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  /*padding-right: 0;*/
}
.ticker-descr {
  padding: 7px;
}
.tooltip {
  background-color: #333;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 600px) {
  .symbols {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .ticker {
    flex: 1 1 auto;
    margin: auto 1rem;
  }
}
